@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 350 100% 99%; /* milky white */
    --foreground: 240 10% 3.9%;
    --card: 350 100% 99%; /* milky white */
    --card-foreground: 240 10% 3.9%;
    --popover: 350 100% 99%; /* milky white */
    --popover-foreground: 240 10% 3.9%;
    --primary: 350 85% 90%; /* milky pink */
    --primary-foreground: 355 85% 25%;
    --secondary: 350 60% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 350 60% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 350 90% 93%; /* lighter milky pink */
    --accent-foreground: 355 85% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 350 70% 94%;
    --input: 350 70% 94%;
    --ring: 350 85% 90%; /* milky pink */
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 350 85% 90%;
    --primary-foreground: 355 85% 25%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 350 90% 93%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 350 85% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
